.container{
    max-height: 450px;
    padding: 20px;
    border: 1px solid #999;
    background: #eee;
    position: relative;
    margin:20px;
}
.left-container{
   position: absolute;
   left:20px;
   top:20px;
   width:200px;
   padding: 20px 0 20px 20px;
   border: 1px solid #999;
   box-sizing: border-box;
   background: #fff;
}
.left-container img{
    vertical-align: top;
    height: 80px;
    width: 80px;
    margin-right: 15px;
    border:1px solid #999;
}
.left-container span{
    font-weight: 600;
}
.introduce{
    margin:0 140px 0 220px;
    border:1px solid #999;
    padding: 20px;
    background: #fff;
    
}
.introduce span{
    line-height: 40px;
}
.right-container{
    position: absolute;
   right:20px;
   top:20px;
    box-sizing: border-box;
    width:120px;
    border:1px solid #999;
    padding: 20px;
    background: #fff;
}
.right-container img{
    width: 80px;
    height: 80px;
    margin-bottom: 18px;
    border:1px solid #999;
}
.right-container :last-child{
    margin-bottom: 0;
}