body{
    margin:0 ;
    padding: 0;
    background-color: #eee;
}
.header{
    background-color: #333;
    height: 60px;
    width: 100%;
}
.logo{
    margin-left: 10px;
    padding: 5px;
}
.menu{
    float: right;
    margin-right: 15px;
   
}
.menu li{
    height:58px;
    width:65px;
    float:left;
    text-align: center;
    margin-left: 25px;
   color: #000;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.menu li:last-child a{
    color: #999;
}
.menu li a:hover{
     background-color: #888;
}
.container ,.side-container{
    margin: 30px;
    border:1px solid #e3e3e3;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 20px;
}
h3{
    color:#333;
}
.container span{
    font-size: 14px;
    color: #5e5e5e;
}
p{
    text-indent: 2em;
}
.ul-list{
     list-style: none;
     width:100px;
     height:100px; 
}
.ul-list li{
    width:80px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
}
.pic-img{
    width: 150px;
    height: 150px;
    border:1px solid #888;
    margin-left:40px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
 
.img{
    width: 150px;
    height: 120px;
    margin-top: 15px;
}
.ol{
    font-weight: 600;
    font-size: 18px;
}
.container .table-span{
    font-size: 16px;
    font-weight: 550;
    color: #000;
}
table{
    display: inline-table;
    width: 100%;
    margin:0 auto;
    border:1px solid #999;
    border-collapse:collapse;
     padding: 3px;
}
 thead{
     display: table-header-group;
    border-color: inherit;
    vertical-align: middle;
}
table th{
    border-bottom: 1px solid #999;
    background-color: #2d3e4d;
    color: #fff;
    text-align: left;
    padding: 6px 12px;
}
table tr{
    background-color: #fff;
    border-top:1px solid #ccc;
}
table td{
    border: 1px solid #ddd;
    padding: 6px 13px;
}
table tr:last-child{
    background-color: #d4d4d4;
    font-weight: bold;
}
.side-container span{
    font-size: 18px;
    font-weight: 600;
}
.messages{
    width:600px;
    height: 400px;
    padding: 10px;
    font-size: 14px;
    text-align: right;
}
.text-input{
    width:180px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin:6px 10px;
}
.messages p{
    color: #999;
  margin-right: 20px;
}
.message4{
    margin-right: 85px;
}
.gender{
    margin:5px 15px;
}
.message5{
    margin-right: 120px;
}
.city{
    margin:  10px 15px;
}
.message6{
    margin-right: 5px;

}
.message6 input{
    margin:10px;
}
.message7 {
    margin-right: 5px;
}
.message7 textarea{
    margin-top:10px ;
    margin-left: 10px;
    height: 80px;
    width: 180px;
   
}
.submit{
    padding:8px 13px;
    margin-top: 10px;
    background-color: #00a0e9;
    color:#fff;
    border-radius: 10px;
    border:none;
    width:100%;
}
.footer{
    color:#fff;
    background-color:#000;
    height:60px;
    text-align: center;
    padding: 10px;
}