*{  
    margin: 0;
    padding: 0;
}
body{
    min-width: 1280px;
}
/*页眉*/
.header{
    width: 100%;
    height: 60px;
}
.logo{
    display: inline-block;
    width: 110px;
    height: 40px;
    font-size: 21px;
    margin: 15px 0 15px 55px;
}
.header ul {
    list-style: none;
    float: right;
    height: 60px;
    margin-right: 50px;
}
.header ul li{
    float: left;
    font-size: 14px;
    padding: 16px 18px; 
    margin:5.5px;
}
.header ul li:first-child{
    border-bottom: 4px solid #e74f4d;
    color: #e74f4d;
}
.header ul li:last-child{
    color: #e74f4d;
}
/*大图*/
.page{
    height: 690px;
    width: 100%;
    background-image: url("1.png") ;
    background-repeat: no-repeat;
    background-size: 100% 690px;
}
.page-text{
    padding: 220px 0 0 100px;
}
.page-text span{
    font-size: 60px;
    font-family: "MicroSoft Yahei";
    color: #ffffff;
    line-height: 100px;
}
.page-text p{
    font-family: "MicroSoft Yahei";
    font-size: 21px;
    color: #ffffff;
    line-height: 32px;
}
.enjoy{
    width: 330px;
    height: 65px;
    background-color: #e74f4d;
    font-size: 30px;
    letter-spacing: 5;
    font-family:  "MicroSoft Yahei";
    color: #ffffff;
    text-align: center;
    line-height: 65px;
    margin-top: 65px;
}
/*四个图标*/
.icons{
   height: 250px;
   width: 1200px;
   margin: 0 auto;
   /*position: relative;
   left: 50%;
   margin-left: -640px;*/
}
.icon{
    width: 300px;
    height: 150px;
    float: left;
    padding: 45px 0;
    text-align: center;
}
.icon p{
    margin-top: 40px;
    padding:0 70px 20px 70px;
    border-right: 2px solid #aaaaaa;
    font-size: 14px;
    font-family: "SimHei";
    line-height: 20px;
    color: #767777;
}
.icon:last-child p{
    border-right: 0;
}
/*活动*/
.activities{
    width: 100%;
}
.message{
    height: 200px;
    background: #ededec;
    text-align: center;
    padding: 80px 0;
}
.message img {
    width: 100px;
    height: 100px;
    margin-bottom: 45px;
}
.message p{
    font-size: 54px;
    font-family: "SimHei";
    color: #a1a1a1;
}
.search-activities{
    height: 310px;
    background-image: url("map.png");
    background-repeat: no-repeat;
    background-size: 100% 350px;
    text-align: center;
    padding: 40 110px 0 110px;
}
.search-activities h1{
    font-size: 21px;
    font-family: "MicroSoft Yahei";
    color: #ffffff;
    font-weight: 300;
}
.search-activities h1 span{
    padding: 10px 0;
    border-bottom: 3px solid #ffffff;
}
.search-activities p{
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    padding-top: 20px;
}
/*.inputs{
    margin: 0 auto;
} 未设置宽度时 margin居中不起作用*/
.input{
    float: left;
    margin:50px 15px 0 15px;
    width: 210px;
    height: 10px;
    background:#ffffff;
    padding: 10px;
    text-align: left;
    position: relative;
}
.input span{
    font-size: 12px;
    font-family: "MicroSoft Yahei";
    color: #a8aaaa;
    line-height: 10px;
}
.input img{
    position: absolute;
    right: 10px;
    top: 7px;
}
#input2{
    border: 2px solid #be4e48;
}
#input2 ul{
    width: 230px;
    height: 170px;
    list-style: none;
    background: #e3e3e4;
    font-size: 12px;
    font-family:"MicroSoft Yahei";
    color: #787878;
    line-height: 26px;
    /*padding-left: 35px;*/
    border: 2px solid #be4e48;
    position: absolute;
    left: -2px;
    top: 30px; 
}
#input2 ul li:first-child{
    background: #be4e48;
    color: #ffffff
}
#input2 ul li img{
    position: absolute;
    left: 10px;
    top: 10px;
}
.input:last-child{
    height: 30px;
    padding: 0;
    background: #be4e48;
    font-size: 14px;
    font-family: "MicroSoft Yahei";
    line-height: 30px;
    letter-spacing: 10;
    color: #ffffff;
    text-align: center;
}
.sm-activities{
    width: 100%;
    height: 630px;
    background-color: #f8f7f7;
}
.activities-block{
    width: 1100px;
    height: 430px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}
.activity{
    float: left;
    margin: 0 20px;
}
.activity img{
    padding: 15px 5px;
    background-color: #ffffff;
    border:1px solid #dadada;
    border-bottom: 0px;
}
.activity h1{
    margin: 12px 0;
    font-size: 16px;
    font-family: "SimHei";
    color: #323333;
}
.activity p{
    font-size: 14px;
    font-family: "Simhei";
    color: #818282;
    margin-bottom: 10px;
}
#activity-sh img{
    border: 1px solid #dadada;
}
#activity-sh h1{
    font-size: 26px;
    letter-spacing: 26;
}
.more-activities{
    min-width: 1280px;
    height: 1087px;  
}
.time-text{
    width: 100%;
    height: 567px;
    position: relative;
}
.time-activity{
    width: 66%;
    height: 567px;
    background-image: url("time.png");
    background-repeat: no-repeat;
    background-size: 100% 567px;
    text-align: center;
    position: relative;
    display: inline-block;
}
.time{
    height: 300px;
    width: 370px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -185px;
}
.time h2{
    font-size: 50px;
    color: #ffffff;
    font-family:  "MicroSoft Yahei";
    line-height: 50px;
    font-weight: 300;
}
.time h1{
    font-family: "MicroSoft Yahei";
    font-size: 158px;
    color: #ffffff;
    line-height: 130px;
    font-weight: 500;
}
.time p{
    font-size: 22px;
    font-family: "MicroSoft Yahei";
    color: #ffffff;
    line-height: 50px;
    margin-top: 10px;
}
.time-activity img{
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
}

.time-content{
    width: 290px;
    height: 320px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -130px;
    right: 17%;
    margin-right: -145px;
    
}
.time-content h1{
   font-size: 22px;
   font-family: "MicroSoft Yahei";;
   line-height: 60px;
   font-weight: 500;
   
}
.time-content h1 span{
    color: #e74f4d;
}
.time-content p{
    font-family: "SimSun";
    font-size: 12px;
    line-height: 36px;
    color: #bdbdbd;
    text-align: left;
}
.more-detail{
    width: 100px;
    height: 30px;
    border: 2px solid #e25d60;
    margin: 30px auto 20px;
    padding: 5px 10px;
    line-height: 30px;
    color: #e25d60;
}
.life-list1,.life-list2{
    width: 33%;
    height: 350px;
    display: inline-block;
    text-align: center;
}
.life-list1{
   background: #e8504e;
   color: #ffffff;
   font-size: 21px;
   font-family: "Simhei";
   line-height: 31px;
   padding-top: 170px;
}
.horize1{
    width:32px;
    height: 2px;
    background: #ffffff;
    display: inline-block;
    text-align: center;
    margin: 25px 0;
}
.more1{
    width: 170px;
    height: 40px;
    border: 1px solid #ffffff;
    line-height: 40px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -85px;
}
.life-list2{
   font-size: 21px;
   font-family: "Simhei";
   line-height: 31px;
   padding-top: 170px;
}
.horize2{
    width:32px;
    height: 2px;
    background: #ababaa;
    display: inline-block;
    text-align: center;
    margin: 25px 0;
}
.more2{
    width: 170px;
    height: 40px;
    border: 1px solid #e8504e;
    line-height: 40px;
    color: #e8504e;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -85px;
}
.life-list3{
    width: 33%;
    float: right;
    height: 520px;
    background-image: url("life.png");
    background-repeat: no-repeat;
    background-size: 100% 520px;
    position: relative;
}
.life-list3 img{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
}
/*加入我们*/
.joinUs{
   width: 1080px;
   height: 470px;
   padding: 110px 100px 160px;
   margin: 0 auto;
}
.join-text{
    text-align: center;
    height: 80px;
    padding-bottom: 110px ;
    font-size: 14px;
    font-family: "SimSun";
    line-height: 20px;
    color: #ababaa;
}
.join-text h1{
    font-size: 24px;
    line-height: 36px;
    font-family: "SimSun";
    color: #323333;
}
.horize3{
    width:32px;
    height: 2px;
    background: #e8504e;
    display: inline-block;
    text-align: center;
    margin: 5px 0 10px;
}
.join-content{
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 80px;
}
.join-content h1{
    font-size: 14px;
    font-family: "SimHei";
    color: #666160;
    clear: both;
}
.join-content p{
    font-size: 12px;
    line-height: 21px;
    font-family: "SimSun";
    color: #757474;
    margin-top: 15px;
}
.more-content{
    float: right;
    margin-bottom: 35px;
    font-size: 12px;
    font-family: "SimSun";
    line-height: 20px;
    color: #605e5e;
}
.join-table{
    width: 650px;
    height: 300px;
    float: right;
    font-size: 12px;
    font-family: "SimSun";
    color: #787474;
    line-height: 40px;
}
.name,.age,.tel,.address{
    width: 300px;
    height: 40px;
    background: #edecee;
    display: inline-block;
    padding-left: 10px;
}
.join-table input{
    border: 0;
    background: #edecee;
    width: 230px;
    height: 30px;
}
.name,.tel{
    margin: 0 10px 15px 0;
}
.age,.address{
    margin: 0 0 15px 10px;
}
.dream{
    width: 640px;
    height: 120px;
    background: #edecee;
    display: inline-block;
    padding-left: 10px;
}
.dream textarea{
    border: 0;
    background: #edecee;
    width: 640px;
    height: 80px;
}
.submit{
    width: 650px;
    height: 40px;
    background: #edecee;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #323333;
    line-height: 40px;
    margin-top: 20px;
    font-weight: 600;
}
/*联系我们*/
.callme{
    height: 280px;
    clear: both;
    background: #33363f;
    text-align: center;
    font-size: 16px;
    font-family: "SimHei";
    color: #ffffff;
    line-height: 28px;
    padding-top: 80px;
}
.callme h1{
    font-size: 28px;
    line-height: 45px;
}
.callme input{
    width: 420px;
    height: 40px;
    padding: 5px;
    margin: 30px 0;
}
.callme span{
    display: inline-block;
    width: 80px;
    height: 40px;
    background: #6f7178;
    font-size: 16px;
    line-height: 36px;
    margin-left: -8px;
}
.callme img{
    margin: 10px;
}
/*页眉*/
.footer{
    background: #2f2f38;
    height: 40px;
    padding-top: 20px;
}
.new-woeld{
    margin-left: 90px;
    font-size: 12px;
    font-family: "SimSun";
     line-height: 40px;
    color: #ffffff;
    display: inline-block;
}
.back-to-top{
    float: right;
    margin-right: 40px;
    font-size: 12px;
    font-family: "SimSun";
    line-height: 40px;
    color: #ffffff;
   overflow: hidden;
}
.footer::after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
